.slick-prev {
  left: -70px !important;
}
.slick-prev:before,
.slick-next:before {
  position: absolute;
  /* height: 3rem;
  width: 2rem; */
  color: black !important;
  background-color: white;
  text-align: center;
  font-size: 50px;
  z-index: 9999;
}
